*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    border: solid 1px #7474ff;
    background-color: rgb(94, 94, 252);
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.header img {
    width: 20%;
}

.header .Meta h1 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: white;
}

.header .menu {
    display: flex;
    justify-content: space-evenly;
    gap: 40px
}

.header .menu .ensemble {
    width: 100%;
}

.header .menu .ensemble :hover {
    background-color: white;
    color :rgb(94, 94, 252);
}

.header .menu .caracteristique {
    width: 100%;
}

.header .menu .caracteristique :hover {
    background-color: white;
    color :rgb(94, 94, 252);
}

.header .menu p {
    color: white;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bloca {
    display: flex;
    align-items: center;
}

.bloca .slogan {
    width: 100%;
    border: solid 1px blue;
    text-align: center;
}

.bloca .slogan p{
    color: rgb(108, 108, 255);
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.blocb {
    display: flex;
    align-items: center;
}


.blocb .element {
    width: 100%;
    padding-left: 2%;
    border: solid 1px blue;
}

.blocb .element h2 {
    color: blue;
    font-size: x-large;
}

.blocb .element ol {
    color: black;
    font-size:larger ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blocb .questimage {
    border: solid 1px blue;
    justify-content: center;
    display: flex;
    
}

.blocb .questimage img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blocx {
    display: flex;
    justify-content: center;
}

.blocc {
    display: flex;
    width: 100%;
    align-items: center;
}

.blocc .buy {
    width: 100%;
    border: solid 1px rgb(158, 91, 220);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.blocc .buy h2 {
    color: rgb(158, 91, 220);
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.blocc .buy p{
    color: rgb(158, 91, 220);
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blocc .buy a {
    display: inline-block;
    background-color: #7474ff;
    color: white;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
}

.cara {
    display: flex;
    border: solid 1px #7474ff;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cara p {
    color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.cara div {
    background-color: #ff7272;
}

.cara div :hover {
    background-color: white;
    color: #ff7272;
}

.page {
    display: block;
}

.page .ma {
    border: solid 1px blue;
    background-color: white;
    text-align: center;
}

.page .ma h3 {
    color: rgb(76, 76, 76);
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.page .ma h4 {
    color: #69e5f5;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

.page .ma p {
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.totop a {
    display: inline-block;
    width: 100%;
    background-color: rgb(94, 94, 252);
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Tahoma, sans-serif;
}